*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 80%;
}

body {
	color: rgb(49, 47, 40);
	background: rgb(255, 200, 51);

	font-family: Futura, "Segoe UI", Tahoma, Geneva,
		Verdana, sans-serif;

	padding: 1rem;

	max-width: 48rem;
	margin: 0 auto;

	max-height: 100dvh;
	overflow: hidden;
}

strong,
em {
	color: rgb(255, 204, 64);
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

h3 {
	font-size: 1.75rem;
	text-shadow: -1px 1px 0 #333;
}

a {
	color: #fff;
}

img {
	width: 10rem;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid #333;

	animation: growAndFadeIn 0.15s ease-out;
	transform-origin: center;
}

@keyframes growAndFadeIn {
	0% {
		transform: scale(0.25);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}